streamlit
pypdf2
langchain
python-dotenv
faiss-cpu
openai
huggingface-hub

unstructured
unstructured_inference
opencv-python==4.6.0.66
transformers
supabase

pinecone-client[grpc]==2.2.1
datasets
pod_gpt

git+https://git@github.com/pinecone-io/pinecone-python-client.git#egg=pinecone-client[grpc]

